/* Larger Views ******************************/
@media (min-width: 1000px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-image: url(/images/argentina.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .hero-img {
        display: none;
    }

    section {        
        max-width: 450px;
        align-self: center;
        padding: 1rem;
        background-color: var(--second-color);
        opacity: 0.7;
        text-align: left;
    }

    .data {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-left: 5rem;
        justify-self: left;
    }

    div {
        display: flex;
        color: var(--second-color);
        background-color: var(--first-color);
        position: relative;
        left: -2.5rem;
        padding: 0.5rem;
    }

    .weather {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
        margin-right: 5rem;
        justify-self: right;
    }

    h2 {
        padding: 15px;
    }

}