body {
    font-family: "Roboto", Helvetica, sans-serif;
}

header, main, footer {
    max-width: 640px;
    
    padding: 25px;
    background-color: cadetblue;
    border: 1px solid skyblue;    
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 4px;
}